:root {
  --bs-primary: hsl(75, 55%, 50%);
  --bs-primary-rgb: 163, 198, 59;
  --bs-secondary: hsl(0, 0%, 95%);
  --bs-secondary-rgb: 240, 240, 240;
}
.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: hsl(75, 55%, 45%);
  --bs-btn-hover-border-color: hsl(75, 55%, 45%);
}
.text-secondary-dark {
  color: hsl(0, 0%, 50%);
}

.bg-secondary-dark {
  background-color: rgba(92, 92, 92, 0.199);
}
/* Hero section */
.hero {
  height: 90vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1554224155-6726b3ff858f")
      center/cover no-repeat;
}

.navbar-nav .nav-link.active {
  color: var(--bs-primary) !important;
}
.nav-link:hover{
  border-bottom: 1px solid var(--bs-primary);
  scale: 1.02;
}
.social-link>img:hover{
  cursor: pointer;
  scale: 1.1;
}

.page2 {
  min-height: 100vh;
}
.page3 {
  position: relative;
  min-height: 90vh;
  background-color: rgba(56, 56, 56, 0.795);
}
.page3::before{
  content: "";
  position: absolute;
  inset: 0;
  background: url(./media/page3-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  filter:brightness(0.2) blur(1px);

}
.page4{
  min-height: 100vh;
}

#left {
  min-width: 50%;
}
#right {
  min-width: 50%;
}
.nav-bg{
  background-color: #5a5a5ac7; 
}

.page5 {
  min-height: 100vh;
}
.comment-box{
  height: fit-content;
  width: auto;
  min-width: 16rem;
}
.page6{
  min-height: 80vh;
}
.feedback-input:focus{
  box-shadow: none;
  border: none;
}

.footer {
  background: #1e1e1e;
}

/* Links */
.footer-links li {
  margin-bottom: 10px;
}
.footer-para{
  color: #aaa;
}
.footer-links a {
  color: #aaa;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  color: var(--bs-primary);
}

.social-icon {
  width: 35px;
  height: 35px;
  background: #fff;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
}

.custom-input {
  background: #2a2a2a;
  border: none;
  color: #fff;
  border-radius: 20px;
  padding: 10px 15px;
}

input::placeholder, textarea::placeholder {
  color: #bbb !important;
}

.custom-input:focus {
  background: #2a2a2a;
  color: #fff;
  box-shadow: none;
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
}

.footer-bottom {
  background: #2a2a2a;
}

@media screen and (min-width: 768px) {
  .para-hero {
    width: 50%;
  }

.nav-bg{
  background-color: transparent !important;
  padding: 0;
}
.social-link{
  display: flex !important;
}
.comment-box{
  width: 38rem;
}

}
